<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 appChangeText>
    Welcome to {{ title }}!
  </h1>
 <div>Months <select (change)="changeDropdown($event)">
   <option *ngFor="let i of months">{{i}}</option>
 </select> </div>
 <p *ngIf="isVisible; else customize">invisible</p>
 <p *ngIf="isVisible1; then customize1 else customize2">invisible</p>
 <ng-template #customize>visible</ng-template>
 <ng-template #customize1>visible1</ng-template>
 <ng-template #customize2>visible2</ng-template>
 <button (click)="showContent($event)">click</button>
</div>


<app-new-cmp></app-new-cmp>

